@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans');
body {
  background-color:#d9f9ca;
  font-family: Alegreya Sans;
  font-size:18px;
}

body section {
  background-color:#d9f9ca;
}

#about{
  padding: 30px 0px 0px 0px;
}

.navbar {
  font-size: 26px;
  background-color: #4caf50;
  width: 100%;
  position:fixed;
  z-index: 1;
}

.navbar_ul {
  list-style-type: none;
  height: 50px;
  width: 100%;
  margin: 0;
}

.navbar_ul_li a{
  padding: 10px;
  color: white;
  float: left;
  border-right: 1px;
  text-align: center;
  text-decoration: none !important;
}

.navbar_ul_li:hover {
  background-color: #c0edc1;
}
 section {
   background-color :#c0edc1;
 }
  .container2{
    display:grid;
    grid-template-columns: 1fr 1fr;
  }

section {
  padding:20px;
  background-color: #c0edc1;
}
.photo {
  width: 100%;
  border-style: solid;
  border-color: darkgreen;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-style: solid;
  border-color: darkgreen;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #c0edc1;
}

.btn-error{
  font-size:12px;
  max-width: 200px;
  background-color: #086d0c;
  position: absolute;
  right: 30px;
  white-space: normal;
  word-wrap: break-word;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

@media only screen and (max-width: 600px) {
  .container {
    display: block;
    grid-template-columns: 1fr;
  }
  nav {
    bottom: 0px;
  }
    .container2{
      display: block;
      grid-template-columns: 1fr;
    }
    #about {
      padding : 0px 0px 0px 0px;

    }
    footer {
      display: none;
    }
    #contact {
      padding : 0px 0px 80px 0px;
    }
}
