* {
  padding: 0;
  margin: 0;
}
nav {
  font-family: sans;
  font-size: 26px;
  background-color: black;
  height: 50px;
  font-style: normal;
}

nav ul {
  height: 50px;
  width: 100%;
  margin: 0;
}

nav ul li {
  text-style-type: none;
  width: 150px;
  float: left;
  border-right: 1px;
  text-align: center;
}

li a {
  text-decoration: none;
  color: maroon;
  line-height: 50px;
  display: block;
}
li a:hover {
  background-coor: blue;
  color: maroon;
}

#about {
  background-color: grey;
}

#contact {
  background-color: grey;
}


body {
  padding:20px;
}

form {
  padding:20px;
}
.photo{
  width:100%;
}
.container{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;

}
